---

---
<div class="w-screen h-64 bg-[#0F2E34]">

    <h1 class=" pl-5 pt-5 text-3xl font-extrabold text-[#EDFCF4]">
        Open<br>
        Source<br>
        Enthusiast
    </h1>

    <h2 class=" pl-5 pt-5 text-md font-extrabold text-[#91C6C2] mb-2">Code Is Available On GitHub</h2> 
    <!-- TODO : REMAKE THE TEXT ^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    
    <a href="" class="github w-11/12 h-5 p-7 bg-[#1A535C] m-auto flex justify-between items-center rounded-xl ">
        <div class="text-3xl font-extrabold text-[#EDFCF4]">GitHub</div>
        <div class="text-[#91C6C2]">@Torbatti</div>
    </a>

</div>
