---

---

<div class="w-screen h-screen bg-[#1A535C] flex flex-col justify-center items-center">
    <h2 class=" text-[#EDFCF4] text-4xl font-extrabold">It's Me Arya</h2>
    <h1 class=" text-[#91C6C2] text-sm font-extrabold">Who?</h1>
</div>
